body {
	font-family: "AppleSDGothicNeoM00", serif;
}

.askBtn {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #2F3894;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #ffff;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 24px;
}

#askWaitBtn {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #595959;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #ffff;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 24px;
}

#askDoneBtn {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #2F3894;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #ffff;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 24px;
}

#paging {
	margin: 5px;
	padding: 8px 11px;
	color: darkblue;
	cursor: pointer;
}

#paging:hover {
	background-color: darkblue;
	color: white;
	border-radius: 5px;
}

#currentPaging {
	margin: 5px;
	padding: 8px 11px;
	background-color: darkblue;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}