td {
	border: 1px solid #333333;
}

#askWriteBtn {
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background-color: #2F3894;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #ffff;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 24px;
}