.cart-bag-title h1, .cart-bag-title button,{
    display: inline;
}

.cart-checkout-title h4,{
    display: inline;
}


.cart-bag-title button {
    float: right;
}

.cart-line {
    background-color: black;
    height: 2px;
    margin: 50px 0px;
}

.cart-checkout-title,{
    float: left;
}

.cart-checkout-sum {
    float: right;
}

.cart-checkout-totalsum {
    display: block;
    content: "";
    clear: both;
    margin-bottom: 100px;
}

.cart-checkout-btn-wrap button {
}
.table thead th {
    border: none;
}
.table td, .table th {
    border: none;
}
.cartDeleteBtn, .wishlistSaveBtn{
    border: 1px solid;
}
.totalCartDeleteBtn{
    background: #292f86;
    color : white;
    border:0;
    margin: 5px;
    height: 30px;
}
.orderPaymentBtn,#paymentBtn,#orderCheckGo{
    background: #292f86;
    color : white;
    border:0;
    margin: 5px;
    height: 50px;
    width: 400px;
}
.kakaoPayBtn{
    margin-left: 37%;
    background: white;
    border:0;
}
.cart_product_name, .cart_product_price{
    width: 200px;
    float: left;
}
.cart_product_price{
    text-align: right;
}

.cartTable,.deliveryTable,.pointTable,.payTable,.pointsavingTable.paymentDetailsTable{
	text-align: center;
	
}



.title{
    display: inline-block;
    padding: 20px 50px;
}
.tg-0pky{
	padding:5px 10px 15px 20px;
}

table{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
}
.paymentBtnDiv{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
    padding: 90px 50px;
}
#orderThanks{
	display: inline-block;
	padding: 200px 500px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	
}

