#mypagePrivate h4{
	display:inline;
	position:relative;
}
.mypagePrivateModifyOpenBtn{
	position:absolute;
	top: 0px;
	left: 150px;
	border-radius: 5px;
	background:#fff;
	color:#030301;
	border:none;
	position:relative;
	height:30px;
	width:50px;
	font-size:0.9em;
	padding:0.4em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}
#mypageContact h4{
	display:inline;
	position:relative;
}
.mypageContactModifyOpenBtn{
	position:absolute;
	top: 0px;
	left: 150px;
	border-radius: 5px;
	background:#fff;
	color:#030301;
	border:none;
	position:relative;
	height:30px;
	width:50px;
	font-size:0.9em;
	padding:0.5em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}
#mypagePassword h4{
	display:inline;
	position:relative;
}

.mypagePasswordOpenBtn{
	position:absolute;
	top: 0px;
	left: 150px;
	border-radius: 5px;
	background:#fff;
	color:#030301;
	border:none;
	position:relative;
	height:30px;
	width:50px;
	font-size:0.9em;
	padding:0.5em;
	cursor:pointer;
	transition:800ms ease all;
	outline:none;
}


#mypagePrivateModifyClosingBtn {
  border-radius: 5px;
  background:#fff;
  color:#030301;
  border:none;
  position:relative;
  height:30px;
  width:50px;
  font-size:0.9em;
  padding:0.4em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  	top: 0px;
	left: 150px;
}

#mypageContactModifyClosingBtn {
 border-radius: 5px;
  background:#fff;
  color:#030301;
  border:none;
  position:relative;
  height:30px;
  width:50px;
  font-size:0.9em;
  padding:0.5em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  	top: 0px;
	left: 150px;
}


#mypagePasswordClosingBtn{
  border-radius: 5px;
  background:#fff;
  color:#030301;
  border:none;
  position:relative;
  height:30px;
  width:50px;
  font-size:0.9em;
  padding:0.5em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  	top: 0px;
	left: 150px;
}

/* -------------------------------------------------------------------------- */
.mypagePrivateName, .mypagePrivateBirth, .mypagePrivateAddress, .mypageContactPhone, .mypageContactEmail, .mypagePasswordPassword {
	display: inline-block;
    width: 100px;
    height: 30px;
    /* border: 1px solid blue; */
}
#mypagePrivateModifyBirth{
	display: inline-block;
    width: 100px;
    height: 25px;
    /* border: 1px solid blue; */
}
#name, #birth, #address, #phone, #email, #password {
	display: inline-block;
    width: 600px;
    height: 30px;
    /* border: 1px solid blue; */
}
#mypagePrivateModifyBir_yy, #mypagePrivateModifyBir_mmBox, #mypagePrivateModifyBir_dd{
	margin-left: 3px;
}
#mypagePrivateModifyZipcode{
	width: 6%;
	text-align: center;
}
.nice-select{
	height: 30px;
	line-height: 30px;
}
#mypageBirthDiv{
	margin-top: 10px;
}
#mypageAddressDiv, #mypagePhoneDiv, #mypagePasswordDiv{
	color: red;
	font-size: 10pt;
	font-weight: bold;
}
#password{
	width: 8%;
	padding-left: 10px;
	border: none;
}
#mypagePrivateModifyBtn, #mypageContactModifyBtn, #mypagePasswordModifyBtn{
	width: 40%;
	height: 40px;
	color: #fff;
	background: #223894;
	font-size: 16px;
	border: none;
	border-radius: 20px;
	transition: 0.3s;
	position: absolute;
	margin: 2% 0 0 30%;
	transform: translate(-50%,-50%);
	cursor: pointer;
}
#addSearchBtn{
	background: #fff;
	border: 1px solid black;
}
#mypagePrivateModifyAddr2{
	width: 30%;
}