.wishlist-list-container{
	background:gray;
}

.wishlist-title h1{
	display: inline;
}
.imgtag{
	padding: 4px;
}
.cart-line{
	background-color: black;
	height: 2px;
	margin-top: 60px;
	margin-bottom: 40px;
}

.wishlist-list-img{
	width: 300px;
	height: 300px;
}

img{
	display: inline-block;
}

.wishlistDeletebutton{
	display: inline;
	left: 82%;
	width: 50px;
	height: 50px;
	border:0;
	font-size:30pt;
	padding: 0;
	position: absolute;
}

.wishlist-list-container{
	display: block;
    content: "";
    clear: both;
}
.wishlistTotalDeletebutton{
	border:0;
	float: right;
}
.imgDiv{
	display: inline-block;
	position:relative;
	margin: 10px;
}
ul {
	list-style:none;
}
li {
	float: left;
}