<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="profileSQL">
 	<insert id="askWrite" parameterType="ask">
		insert into ask values(seq_ask.nextval
									, #{ask_category}
									, #{order_number}
									, #{name}
									, #{email}
									, #{subject}
									, #{content}
									, 0
									, #{image1}
									, #{answer}
									, sysdate)
	</insert>
	
 	<select id="getAskList" parameterType="java.util.Map" resultType="ask">
 		select * from(select rownum rn, tt.* from
 				(select * from ask where email=#{memEmail} order by seq desc)tt)
 				         where <![CDATA[rn>= #{startNum}]]> and  <![CDATA[rn<= #{endNum}]]>   
 	</select>
 	
 	<select id="getTotalA"  parameterType="java.util.Map" resultType="Integer">
 		select count(*) as count from ask where email=#{memEmail}
 	</select>
 	
 	<select id="getAsk" parameterType="int" resultType="ask">
       select * from ask where seq=#{seq}
    </select>
 	
 	<select id="getMember" parameterType="Integer" resultType="member">
 		select * from member where id=#{id}
 	</select>
	
	<update id="updateMember" parameterType="java.util.Map">
		update member set name=#{name}, bir_yy=#{bir_yy}, bir_mm=#{bir_mm}, bir_dd=#{bir_dd}, 
		zipcode=#{zipcode}, addr1=#{addr1}, addr2=#{addr2} where id=#{id}
	</update>
	
	<update id="updateContact" parameterType="java.util.Map">
		update member set phone=#{phone} where id=#{id}
	</update>
	
	<update id="updatePassword" parameterType="java.util.Map">
		update member set password=#{password} where id=#{id}
	</update>
	
	<select id="getWishlist" parameterType="java.util.Map" resultType="wishlist">
		select * from
			(select rownum rn, tt. * from
					(select distinct w.id, w.member_id, w.product_code, p.product_img_thumb from wishlist w
					 inner join product_image p
					 on w.product_code=p.product_code
					 where w.member_id = #{id} order by id desc)tt
			)where rn between #{startNum} and #{endNum}
	</select>

	<delete id="choiceDelete" parameterType="int">
		delete from wishlist where id=#{id}
	</delete>

	<delete id="totalDelete" parameterType="String">
		delete from wishlist where member_id=#{memberId}
	</delete>

	<select id="getTotalWishlist" parameterType="String" resultType="Integer">
		select count(*) as count from wishlist where member_id=#{id}
	</select>

	<select id="getOrderList" parameterType="java.util.Map" resultType="order">
		select *
		from (select rownum rn, tt.* from
			(select distinct o.order_number,
					o.order_date,
					i.product_img_thumb,
					p.product_name,
			        od.id,
					od.product_color,
					od.product_qty,
					od.product_amounts,
					od.order_status
			 from orders o
					  inner join orders_detail od
								 on o.order_number=od.order_number
					  Inner join product p
								 on od.product_id=p.id
					  Inner join product_image i
								 on p.product_code=i.product_code
			 where o.member_id=#{id} order by o.order_number desc
			) tt
			)where rn between #{startNum} and #{endNum}
	</select>

	<select id="getTotalOrderList" parameterType="String" resultType="Integer">
		select count(*) as count from (
			select distinct o.order_number,
				   o.order_date,
				   i.product_img_thumb,
				   p.product_name,
		           od.id,
				   od.product_color,
				   od.product_qty,
				   od.product_amounts,
				   od.order_status
			from orders o
					inner join orders_detail od
						on o.order_number=od.order_number
					Inner join product p
						on od.product_id=p.id
					Inner join product_image i
						on p.product_code=i.product_code
			where o.member_id=#{id} order by o.order_number desc
			)
	</select>

	<update id="updateOrderStatus" parameterType="int">
		update orders_detail set order_status = 'FINISH' where id=#{id}
	</update>

	<select id="getCartList" parameterType="java.util.Map" resultType="cart">
		select *
		from (select rownum rn, tt.* from
				(select distinct
				 c.id,
				 p.product_name,
				 c.product_option_color,
				 c.product_count,
				 p.product_price,
				 i.product_img_thumb
				 from cart c
					  inner join product p
								 on p.id=c.product_id
					  inner join product_image i
								 on p.product_code=I.product_code
			 where c.member_id=#{id} order by c.id desc
				) tt
			 )where rn between #{startNum} and #{endNum}
	</select>

	<select id="getTotalCartList"  parameterType="String" resultType="Integer">
		select count(*) as count from (
			select distinct
				c.id,
				p.product_name,
				c.product_option_color,
				c.product_count,
				p.product_price,
				i.product_img_thumb
			from cart c
				inner join product p
					on p.id=c.product_id
				inner join product_image i
					on p.product_code=I.product_code
				where c.member_id=#{id} order by c.id desc
			)
	</select>

	<delete id="cartDelete" parameterType="int">
		delete from cart where id=#{id}
	</delete>

	<delete id="cartTotalDelete" parameterType="String">
		delete from cart where member_id=#{memberId}
	</delete>

	<select id="getAllCartList" parameterType="String" resultType="cart">
		select distinct
		c.id,
		p.product_name,
		c.product_option_color,
		c.product_count,
		p.product_price,
		i.product_img_thumb
		from cart c
		inner join product p
		on p.id = c.product_id
		inner join product_image i
		on p.product_code = I.product_code
		where c.member_id=#{memberId} order by c.id desc
	</select>

 </mapper>