.loginDiv {
    margin-left: 45px;
}
.form-control {
    height: 45px;
    font-size: 20px;
}
.snsLable {
    font-size: 15px;
    margin: 5% 0 0 19%;
}
#kakaoImg {
    font-size: 15px;
    margin: 2% 0 0 16%;
}
.loginBtn {
    background: #223894;
    color: white;
    border: 0;
    outline: 0;
    width: 100%;
    height: 50px;
}
.btn-round {
    border-radius: 3rem;
}
#writeBtn {
    background: white;
    color: black;
    border-color: black;
    height: 50px;
    width: 165%;
    outline: 0;
}
.writeDiv {
    margin-left: 15%;
}
.kakaoDiv {
    margin: 0 0 20px 65px;
}
.searchDiv {
    margin-top: 25%;
    margin-bottom: 43%;
    margin-left: 12%;
}
div#emailDiv, div#pwdDiv {
    color: red;
    font-size: 13pt;
    margin: -12px 0 0 10px;
}
#kakaoImg {
    cursor: pointer;
}