<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="productSQL">
	<!-- startNum endNum -->
	<select id="selectList" parameterType="java.util.Map" resultType="productList">
		<![CDATA[
		select * from (
          select rownum rn, tt.* from
              (select distinct p.PRODUCT_CODE, p.PRODUCT_NAME, p.PRODUCT_PRICE, p.PRODUCT_CATEGORY1,
                p.PRODUCT_CATEGORY2, p.PRODUCT_CATEGORY_NAME, i.PRODUCT_IMG_THUMB, p.id from 
                  (
		            select * from product
		                    where PRODUCT_CATEGORY1=(select PRODUCT_CATEGORY1 from category where CATENAME=#{category})
		                    or
		                    PRODUCT_CATEGORY2=(select PRODUCT_CATEGORY1 from category where CATENAME=#{category})
		                    order by id desc
                   ) p   
              join product_image i
               on p.PRODUCT_CODE = i.PRODUCT_CODE
              )tt)
		where rn >= #{startNum} and rn <= #{endNum}
		]]>
	</select>
	
	
	<!-- 전체상품보기 ... 모든 리스트  -->
	 <select id="getAllList" resultType="productList">
 		<![CDATA[
		select * from (
			SELECT distinct PRODUCT_CODE, PRODUCT_NAME,PRODUCT_PRICE, PRODUCT_CATEGORY1,
			PRODUCT_CATEGORY2, PRODUCT_CATEGORY_NAME,PRODUCT_IMG_THUMB
			FROM product
			join product_image using (PRODUCT_CODE)
			ORDER BY product_price desc
		) WHERE ROWNUM <= 9
		]]>
    </select>   
    
    
	<!-- category - selectList 페이징용 product안에 있는 모든 것들 갯수  -->
	<select id="getTotalProduct" parameterType="String" resultType="int">
		<!-- select count(*) from product where PRODUCT_CATEGORY_NAME=#{category} -->
		<![CDATA[
		select count(*)  from (
		    select rownum rn, tt.* from
		        (select distinct PRODUCT_CODE, PRODUCT_NAME,PRODUCT_PRICE, PRODUCT_CATEGORY1,
		        PRODUCT_CATEGORY2, PRODUCT_CATEGORY_NAME,PRODUCT_IMG_THUMB from 
		            (
		            select * from product
		                    where PRODUCT_CATEGORY1=(select PRODUCT_CATEGORY1 from category where CATENAME=#{category})
		                    or
		                    PRODUCT_CATEGORY2=(select PRODUCT_CATEGORY1 from category where CATENAME=#{category})
		                    order by id desc
		             )       
		        join product_image using (PRODUCT_CODE)
		        )tt)
		]]>
		
	</select>
	
	
	<!-- 검색 키워드 + 페이징 -->
	<select id="searchList" parameterType="java.util.Map" resultType="productList">
		<![CDATA[
		
		select * from (
          select rownum rn, tt.* from
              (select distinct p.PRODUCT_CODE, p.PRODUCT_NAME, p.PRODUCT_PRICE, p.PRODUCT_CATEGORY1,
                p.PRODUCT_CATEGORY2, p.PRODUCT_CATEGORY_NAME, i.PRODUCT_IMG_THUMB, p.id from 
                  (
		            select * from product 
		            where product_name like '%'||#{keyword}||'%'
		            order by id desc
                   ) p   
              join product_image i
               on p.PRODUCT_CODE = i.PRODUCT_CODE
              )tt)
		where rn >= #{startNum} and rn <= #{endNum}
		
		
		
		
		
		]]>
<!-- 		select * from (
		    select rownum rn, tt.* from
		        (select distinct PRODUCT_CODE, PRODUCT_NAME,PRODUCT_PRICE, PRODUCT_CATEGORY1,
		        PRODUCT_CATEGORY2, PRODUCT_CATEGORY_NAME,PRODUCT_IMG_THUMB from 
		            (
		            select * from product 
		            where product_name like '%'||#{keyword}||'%'
		            order by id desc
		             )       
		        join product_image using (PRODUCT_CODE)
		        )tt)
		where rn >= #{startNum} and rn <= #{endNum} -->
	</select>
	
	
	<!-- 검색 글 갯수 -->
	<select id="getSearchProduct" parameterType="String" resultType="int">
		<!-- select count(*) from product where PRODUCT_NAME like '%'||#{keyword}||'%' -->
		<![CDATA[
		select count(*) from (
		    select rownum rn, tt.* from
		        (select distinct PRODUCT_CODE, PRODUCT_NAME,PRODUCT_PRICE, PRODUCT_CATEGORY1,
		        PRODUCT_CATEGORY2, PRODUCT_CATEGORY_NAME,PRODUCT_IMG_THUMB from 
		            (
		            select * from product 
		            where product_name like '%'||#{keyword}||'%'
		            order by id desc
		             )       
		        join product_image using (PRODUCT_CODE)
		        )tt)
		]]>
		
	</select>
	
 </mapper>