<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="adminSQL">
 	<!-- 회원목록 -->
	<select id="getMemberList" parameterType="java.util.Map" resultType="member">
 		select * from(select rownum rn, tt.* from
 				(select * from member order by created_at desc)tt)
 				         where <![CDATA[rn>= #{startNum}]]> and  <![CDATA[rn<= #{endNum}]]>   
 	</select>
 
 	<!-- 총 글 수 -->
	<select id="getTotalA" resultType="int">
		select count(*) from member
	</select>
	
	<select id="reviewList" parameterType="java.util.Map" resultType="review"></select>

	<!-- 검색 -->
	<select id="getSearchMemberList" parameterType="java.util.Map" resultType="member">
      
         select * from(select rownum rn, tt. * from
          (select * from member where (name || email) like '%'||#{keyword}||'%' order by created_at desc)tt) 
          where <![CDATA[rn >= #{startNum}]]> and <![CDATA[rn <= #{endNum}]]>
    </select>
    
    <!-- 검색 총 글 수 -->
    <select id="getSearchTotal" parameterType="java.util.Map" resultType="int">
      select count(*) from member where (name || email) like '%'||#{keyword}||'%'
    </select>
    
    <!-- 회원삭제 -->
	<delete id="memberListDelete" parameterType="java.util.Map">
		delete member where id in
		<foreach collection="array" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>

	<select id="reviewList" parameterType="java.util.Map" resultType="Adminreview">
		select * from 
		(select rownum rn, tt.* from 
		(select * from REVIEW order by id)tt
		)where rn &gt;= #{startNum} and rn &lt;= #{endNum}
	</select>
	<!-- 모든 리스트 개수  -->
	<select id="getTotalReviewList" resultType="int">
		select count(*) from REVIEW
	</select>
	
	<!-- 선택 리뷰 삭제 -->
	<delete id="adminReviewListDelete" parameterType="java.util.Map">
		delete REVIEW where id in
		<foreach collection="array" item="item" open="(" close=")" separator=",">
			#{item}
			<!--${array[i]}  -->
		</foreach>
	</delete>
	<!-- sort1 오름차순-->
	<select id="adminreviewASCList" parameterType="java.util.Map" resultType="review">
	<![CDATA[
		select * from 
		(select rownum rn, tt.* from 
		(select * from REVIEW order by ${sort1} asc)tt
		)where rn >= #{startNum} and rn <= #{endNum}
		]]>
	</select>
	
	<!-- sort1 내림차순-->
	<select id="adminreviewDESCList" parameterType="java.util.Map" resultType="review">
	<![CDATA[
		select * from 
		(select rownum rn, tt.* from 
		(select * from REVIEW order by ${sort1} desc)tt
		)where rn >= #{startNum} and rn <= #{endNum}
		]]>
	</select>

</mapper>
